{% extends "sfuanime/layout.html" %}

{% block content %}
{% load static %}


<!-- admin password: sfuanimeclub2020 -->
<div class="wrapper">


<div class="index-image-container" style="width:100%;height:100%;padding-top:25px;" >
  <div class="row">
  <div class="col-8">


<!-- python manage.py findstatic -->

<div class="container">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for cid in cover %}


                    {% if cid.id == 0 %}
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>

                    {% else %}
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>

                    {% endif %}

           {% endfor %}
     </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" style="height:560px;overflow:hidden;">
              {% for cid in cover %}
                {% if cid.id == 1 %}
              <div class="item active">
                {% else %}
                <div class="item">
                {% endif %}
              <a href="{% url 'sfuanime:news_index' cid.link %}">
              <img src="{{ MEDIA_URL }} /media/{{cid.cover_image}}" alt="" style="width:200%;object-fit:cover;">
              </a>
              <div class="carousel-caption">
                <h3 >{{cid.body|safe}}</h3>

              </div>
              </div>
              {% endfor %}

  </div>



  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
</div>

  </div>


<div class = "col">
<div class = "row">

  <div class="col-offset-2">


  <div class="" style="background-color:#D56363;height:180px;width:200px;">


      <h1 id="date"></h1>

      <script>
          n =  new Date();
          y = n.getFullYear();
          m = n.getMonth();
          d = n.getDate();

          var mns = new Array(12);
          mns[0] = "Jan";
          mns[1] = "Feb";
          mns[2] = "Mar";
          mns[3] = "Apr";
          mns[4] = "May";
          mns[5] = "Jun";
          mns[6] = "Jul";
          mns[7] = "Aug";
          mns[8] = "Sept";
          mns[9] = "Oct";
          mns[10] = "Nov";
          mns[11] = "Dec";

          var mnss = mns[m];

          var dd = new Date();
          var nd = dd.getDay();

          document.getElementById("date").innerHTML =
           "<h1 style='font-size:70px;color:white;position:relative;left:90px;top:50px;'>"+d+"</h1>"
          +   "<h1 style='font-size:26px;color:white;position:relative;left:30px;bottom:30px;'>"+mnss+"</h1>";

          </script>
      <p id="dayofweek"></p>

      <script>

        var d = new Date();
        var weekday = new Array(7);
        weekday[0] = "Sun";
        weekday[1] = "Mon";
        weekday[2] = "Tue";
        weekday[3] = "Wed";
        weekday[4] = "Thu";
        weekday[5] = "Fri";
        weekday[6] = "Sat";

        var n = weekday[d.getDay()];
        document.getElementById("dayofweek").innerHTML =
         "<h1 style='font-size:24px;color:white;position:relative;left:30px;bottom:30px;'>"+n+"</h1>";

         </script>
  </div>


  </div>

  <!------------------>
  <div class="col">

    <img class="header-logo-pic" src  ="{% static 'img/mascot_index.jpg' %}" alt = "My Image"
    style="height:160px;">

    </div>


</div>


<div class = "row" style="padding-top:20px;height:260px;">

  <div class="col" style="">

    <h2 style="font-weight: bold;padding-bottom:15px;">FEATURED POSTS</h2>
    {% for p in indexid %}

                  <div class="col" style="position:relative;right:15px;" >
                     <a href="{% url 'sfuanime:news_index' p.id %}"><h1 class="post-title">{{p.title}}</h1></a>
                    <h5 class="p-date">{{p.datetime}} - {{p.author}}</h5>
                    <hr>
                    </div>

        {% endfor %}



    </div>
  </div>

</div>



</div>

</div>

<!------------------>

<div class="row" style="height:300px;padding-top:25px;padding-left:20px;">
  <div class="col-4">


  <h1 style="font-weight: bold;">Latest Posts</h1>
  {% for l in latest_post %}
  <div class = "row" style="padding-bottom:20px;position:relative;right:20px;top:20px;">


        <div class="col-4" style=" width:100px;
    height:100px;
    text-align:center;
    overflow:hidden;">
              <img src="{{ MEDIA_URL }} /media/{{l.cover_image}}" alt="" style=" min-width:100px;
  max-width:none;
  height:100px;
  margin:0 -100%;">
              </div>
              <div class="col">

                <div class="col" style="position:relative;right:15px;" >
                   <a href="{% url 'sfuanime:news_index' l.id %}"><h1 class="post-title">{{l.title}}</h1></a>
                  <h5 class="p-date">{{l.datetime}} - {{l.author}}</h5>
                  <p>{{ l.body|safe|truncatechars:"40" }}</p>

                  <hr>
                  </div>


      </div>
</div>
  {% endfor %}


  </div>


  <div class="col-3" >
    <h1 style="font-weight: bold;">Screening Update</h1>

    <div class = "row">
      <div class= "scr_pic" style=" height:200px;position: relative; padding-top:20px; overflow: hidden;">
    <img src="{{ MEDIA_URL }} /media/{{scrid.hotel_Main_Img}}" >
</div>

  <div class="row">
    <div class="scr_text" style="padding-top:20px;padding-left:10px;">
    <a href=""><h2 class="post-title">{{scrid.title}}</h2></a>
    <h4>{{scrid.time_location}}</h4>
    <h4 > {{scrid.body|safe}}</h4>
    </div>

        </div>

        </div>
</div>
<div class = "col">
<div class = "row">
  <div class = "col-offset-2">
  <div style="width:300px;height:180px;position:relative;left:20px;overflow:hidden;" >

    <div class="container" style="
    background-color:#8fd9d9;overflow:hidden;
    display: flex;justify-content: center;" >


    <div class="img-container" data-slideshow>

  {% for g in gall %}

    <img src="{{ MEDIA_URL }} /media/img/index-gallery/{{g.title}}" alt="">

  {% endfor %}

  </div>
  <a href="{% url 'sfuanime:galleria' %}">
  <div class="overlay-1">

  <div class="text">Check our gallery!</div>
  </div>
  </a>
      </div>


    </div>
</div>
  <div class = "col-offset-2">
        <div class="container" style="width:300px;height:180px;position:relative;
      background-color:#8fd9d9;overflow:hidden;
        display: flex;justify-content: center;" >


        <div class="img-container" data-slideshow-2>

          {% for gm in gall_mascot %}

            <img src="{{ MEDIA_URL }} /media/img/index-gallery/{{gm.title}}" alt="">

          {% endfor %}


          </div>

  <a href="{% url 'sfuanime:galleria' %}">
  <div class="overlay">

  <div class="text">Check the mascot art!</div>

  </div>
  </a>
          </div>

</div>


  </div>
  <div class = "row">

    <div class="col" >
      <div class="event-countdown" style="height:160px;width:560px;padding-top:20px;position:relative;left:20px;">



        <div class="row">
            <div class="col" style="
            overflow:hidden;display: flex;justify-content: center;">

              <div class="class-img" style="position:static;">
              <img src="{{ MEDIA_URL }} /media/{{cd.cover_image}}" alt=""
              style="height:200px;">
              </div>


              </div>
              <div class="col" style="background-color:#f2c57c;">

        <div style="position:relative;top:40px;">
      <h2 style="color:white">Next Event</h2>
      <h2 style="color:white;">{{ cd.title }}</h2>
      <h1 style="color:white;" id="demo2"></h1>
      </div>

    <script>

      // Set the date we're counting down to
      var countDownDate = new Date("{{cd.datetime}}").getTime();


      // Update the count down every 1 second
      var x = setInterval(function() {

      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the element with id="demo"
      document.getElementById("demo2").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";

      // If the count down is finished, write some text
      if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo2").innerHTML = "EXPIRED";
      }
      }, 1000);
      </script>

        </div>

    </div>



    </div>

    </div>





    </div>

</div>


</div>

</div>
</div>



          <script>
class Slideshow {

  constructor() {
    this.initSlides();
    this.initSlideshow();
  }

  // Set a `data-slide` index on each slide for easier slide control.
  initSlides() {
    this.container = $('[data-slideshow]');
    this.slides = this.container.find('img');
    this.slides.each((idx, slide) => $(slide).attr('data-slide', idx));
  }

  // Pseudo-preload images so the slideshow doesn't start before all the images
  // are available.
  initSlideshow() {
    this.imagesLoaded = 0;
    this.currentIndex = 0;
    this.setNextSlide();
    this.slides.each((idx, slide) => {
      $('<img>').on('load', $.proxy(this.loadImage, this)).attr('src', $(slide).attr('src'));
    });
  }

  // When one image has loaded, check to see if all images have loaded, and if
  // so, start the slideshow.
  loadImage() {
    this.imagesLoaded++;
    if (this.imagesLoaded >= this.slides.length) { this.playSlideshow() }
  }

  // Start the slideshow.
  playSlideshow() {
    this.slideshow = window.setInterval(() => { this.performSlide() }, 3500);
  }

  performSlide() {
    if (this.prevSlide) { this.prevSlide.removeClass('prev fade-out') }

    this.nextSlide.removeClass('next');
    this.prevSlide = this.nextSlide;
    this.prevSlide.addClass('prev');

    this.currentIndex++;
    if (this.currentIndex >= this.slides.length) { this.currentIndex = 0 }

    this.setNextSlide();

    this.prevSlide.addClass('fade-out');
  }

  setNextSlide() {
    this.nextSlide = this.container.find(`[data-slide="${this.currentIndex}"]`).first();
    this.nextSlide.addClass('next');
  }

}

$(document).ready(function() {
  new Slideshow;
});

</script>





<script>
class Slideshow2 {

  constructor() {
    this.initSlides();
    this.initSlideshow();
  }

  // Set a `data-slide` index on each slide for easier slide control.
  initSlides() {
    this.container = $('[data-slideshow-2]');
    this.slides = this.container.find('img');
    this.slides.each((idx, slide) => $(slide).attr('data-slide', idx));
  }

  // Pseudo-preload images so the slideshow doesn't start before all the images
  // are available.
  initSlideshow() {
    this.imagesLoaded = 0;
    this.currentIndex = 0;
    this.setNextSlide();
    this.slides.each((idx, slide) => {
      $('<img>').on('load', $.proxy(this.loadImage, this)).attr('src', $(slide).attr('src'));
    });
  }

  // When one image has loaded, check to see if all images have loaded, and if
  // so, start the slideshow.
  loadImage() {
    this.imagesLoaded++;
    if (this.imagesLoaded >= this.slides.length) { this.playSlideshow() }
  }

  // Start the slideshow.
  playSlideshow() {
    this.slideshow = window.setInterval(() => { this.performSlide() }, 3500);
  }

  performSlide() {
    if (this.prevSlide) { this.prevSlide.removeClass('prev fade-out') }

    this.nextSlide.removeClass('next');
    this.prevSlide = this.nextSlide;
    this.prevSlide.addClass('prev');

    this.currentIndex++;
    if (this.currentIndex >= this.slides.length) { this.currentIndex = 0 }

    this.setNextSlide();

    this.prevSlide.addClass('fade-out');
  }

  setNextSlide() {
    this.nextSlide = this.container.find(`[data-slide="${this.currentIndex}"]`).first();
    this.nextSlide.addClass('next');
  }

}

$(document).ready(function() {
  new Slideshow2;
});

</script>



{% endblock %}



</html>
