<!doctype html>
{% load static %}
<html lang="en">
<link rel="stylesheet"
 href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
 integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">


 <link rel="icon" type="image/png" href ="{% static 'img/logo.png' %}" sizes="32x32">

<link rel = "stylesheet" type="text/css" href ="{% static 'css/style.css' %}">

<script  type="text/javascript"  src ="{% static 'js/script.js' %}"></script>
 <title>SFU Anime Club</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">


<!--bxslider -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>


 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


 <!-- Material Design for Bootstrap fonts and icons -->
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

<link href='https://fonts.googleapis.com/css?family=Encode Sans Expanded' rel='stylesheet'>

 <!-- Material Design for Bootstrap CSS -->
 <link rel="stylesheet"
     href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
     integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<header>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<div class = "container-fluid" style="margin:auto;background-color:green;width:100%;">

<div class = "row" >

  <div class = "col-sm" style="padding-top:70px;">
    <div id="navigation">
      <ul>

  <a href="/">
          <button class="btn btn-lg btn-danger" type="button"
             aria-haspopup="true" aria-expanded="false">
                <p style="font-size:16px;color:black;"> Home</p>
        </button>
        </a>

        <a href="/news">
                <button class="btn btn-lg" type="button"
                   aria-haspopup="true" aria-expanded="false">
                      <p style="font-size:16px;color:black;"> News</p>
              </button>
              </a>
              <a href="/event">
                      <button class="btn btn-lg" type="button"
                         aria-haspopup="true" aria-expanded="false">
                            <p style="font-size:16px;color:black;">Events</p>
                    </button>
                    </a>

                    <a href="/membership">
                            <button class="btn btn-lg" type="button"
                               aria-haspopup="true" aria-expanded="false">
                                  <p style="font-size:16px;color:black;">Admin</p>
                          </button>
                          </a>

                          <a href="/gallery">
                                  <button class="btn btn-lg" type="button"
                                     aria-haspopup="true" aria-expanded="false">
                                        <p style="font-size:16px;color:black;">Gallery</p>
                                </button>
                                </a>
                    <a href="/about">
                            <button class="btn btn-lg" type="button"
                               aria-haspopup="true" aria-expanded="false">
                                  <p style="font-size:16px;color:black;">About</p>
                          </button>
                          </a>


  </ul>
  </div>

  </div>

  <div class = "col-sm" >
    <div class ="asdasd"  style="display:inline-block;">

      <div class="header-logo"  style="display:inline-block;">
        <img class="header-logo-pic" src  ="{% static 'img/logo.png' %}" alt = "My Image" style="position:relative;top:20px;left:120px;height:100px;width:100px;">
      </div>


    <div class = "index-title-1" style="display:inline-block;position:relative;top:50px;left:130px;">
        <h1 style="font-size:18px;font-weight:bold;color:black;"> The official website of </h1>

        <h1 style="font-size:44px;display:inline-block;font-weight:bold;color:#CB2F11;"> SFU </h1>
        <h1 style="font-size:44px;display:inline-block;font-weight:bold;color:#3CB7C9;"> ANIME  </h1>

    </div>
    </div>
  </div>
    <div class = "col-sm">


  <div class="" style="padding-top:80px;">
    <a href="https://www.facebook.com/groups/sfuanime/"><i class="fa fa-facebook-official" style="font-size:40px;color:#908C92;"></i></a>
    <a href="https://twitter.com/sfuanime?lang=en"><i class="fa fa-twitter" style="font-size:40px;color:#908C92;padding-left:60px;"></i></a>
    <a href="https://discord.gg/YcW3AtX"><i class="fa fa-discord" style="font-size:40px;position:relative;color:#908C92;padding-left:60px;" aria-hidden="true"></i></a>
    <a href="https://www.sfusummerfestival.com/"><div class="sum-logo" style="position:relative;left:280px;bottom:50px;" >
    <img class="header-logo-pic" src  ="{% static 'img/sumfest.png' %}" alt = "My Image" style="width:15%;height:20%;">
  </div>  </a>

  </div>

      </div>
  </div>
</div>


<body style="max-width:100%;margin:0 auto;">
{% block content %}
{% endblock %}

</body>
<footer>

<div class = "footer-container">
  <div class = "footer-copyright">

    <div class="" style="float:center;padding-left:170px;">
      <a href="#">   <img class="header-logo-pic" src  ="{% static 'img/logo.png' %}" alt = "My Image" style="height:60px;width:60px;position:relative;bottom:20px;"> </a>
      <a href="https://www.facebook.com/groups/sfuanime/"><i class="fa fa-facebook-official" style="font-size:50px;color:#908C92;padding-left:30px;"></i></a>
      <a href="https://twitter.com/sfuanime?lang=en"><i class="fa fa-twitter" style="font-size:50px;color:#908C92;padding-left:30px;"></i></a>
      <a href="https://discord.gg/YcW3AtX"><i class="fa fa-discord" style="font-size:50px;position:relative;color:#908C92;padding-left:30px;" aria-hidden="true"></i></a>

    </div>



      <h4 style="position:relative;width:800px;padding-top:20px;padding-bottom:20px;padding-left:120px;">	&copy; 2020 Copyright: SFU Anime Club. All rights reserved</h4>
</div>



</script>
</div>
</footer>
